.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.repo-cards-div-main {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.repo-cards-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.main#portfolio {
  padding-bottom: 6rem;
}



.project-card-wrapper {
  margin-bottom: 1.5rem;
}