.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.repo-cards-div-main {
  column-count: 4;
  column-gap: 1.5rem;

  direction: rtl;   // ← add this
}

@media (max-width: 1400px) {
  .repo-cards-div-main {
    column-count: 3;
  }
}

@media (max-width: 1000px) {
  .repo-cards-div-main {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .repo-cards-div-main {
    column-count: 1;
  }
}

.main#portfolio {
  padding-bottom: 6rem;
}



.project-card-wrapper {
  break-inside: avoid;
  margin-bottom: 1.5rem;

  direction: ltr;   // ← important
}